@font-face {
    font-family: 'inter';
    src: url('https://rsms.me/inter/inter.css');
}

@font-face {
    font-family: 'nunito';
    src: url('//fonts.googleapis.com/css?family=Nunito');
}

$primary: #074EE8;
$text_normal: #111111;
$border_normal: $text_normal;
$text_subtle: #767676;
$border_subtle: #AAAAAA;